img {
  width: 80%;
  position: absolute;
  left: 10%;
  right: 10%;
  top: 3%;
  bottom: 2%;
}

@media (max-width: 600px) {
  img {
    width: 60%;
    position: absolute;
    left: 10%;
    right: 10%;
    top: 3%;
    bottom: 2%;
  }
}
